ENVIRONMENT_NAME=
NATS_SERVER1=
REDIS_HOSTNAME=
LIT_CLIENT_ID=
LIT_CLIENT_SECRET=
LIT_CLIENT_USERNAME=
LIT_CLIENT_PASSWORD=
LIT_CLIENT_SECURITY_TOKEN=
LIT_LOGIN_URL=
LIT_DOMAIN=
PAPERTRAIL_ACTIVE=
PAPERTRAIL_HOST=
PAPERTRAIL_PORT=