apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "email-bridge.fullname" . }}
  labels:
    {{- include "email-bridge.labels" . | nindent 4 }}
  annotations:
    reloader.stakater.com/search: "true"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "email-bridge.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "email-bridge.labels" . | nindent 8 }}
      annotations:
        fluentbit.io/parser: mettel_parser_logs
    spec:
      priorityClassName: critical-priority
      initContainers:
        - name: wait-nats-server
          image: busybox:1.28
          command: ['sh', '-c', 'until wget --spider -S http://automation-engine-nats:8222/varz; do echo waiting for nats-server; sleep 2; done']
        - name: wait-redis
          image: busybox:1.28
          command: ['sh', '-c', 'until printf "PING\r\n" | nc ${REDIS_HOSTNAME} 6379; do echo waiting for redis; sleep 2; done']
          envFrom:
            - configMapRef:
                name: {{ include "email-bridge.configmapName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default "automation-master-latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "email-bridge.configmapName" . }}
            - secretRef:
                name: {{ include "email-bridge.secretName" . }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            {{- if .Values.config.metrics.enabled }}
            - name: {{ .Values.config.metrics.svc.name }}
              containerPort: {{ .Values.config.metrics.svc.port }}
              protocol: TCP
            {{- end }}
          livenessProbe:
            httpGet:
              path: /_health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 60
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /_health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 60
            timeoutSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if eq .Values.global.mode "local" }}
      imagePullSecrets:
        - name: {{ .Values.global.ecr_registry.name }}
      {{- end }}