ENVIRONMENT_NAME=
NATS_SERVER1=
REDIS_HOSTNAME=
SLACK_URL=
EMAIL_ACC_PWD=
TELESTAX_URL=
TELESTAX_ACCOUNT_SID=
TELESTAX_AUTH_TOKEN=
TELESTAX_FROM_PHONE_NUMBER=
PAPERTRAIL_ACTIVE=
PAPERTRAIL_HOST=
PAPERTRAIL_PORT=