@import "variables";

@font-face {
  font-family: 'ubuntu';
  src: ("/assets/typography/ubuntu-regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'ubuntu-medium';
  src: ("/assets/typography/ubuntu-medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'ubuntu-light';
  src: ("/assets/typography/ubuntu-light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'ubuntu-bold';
  src: ("/assets/typography/ubuntu-bold.ttf");
  font-weight: 400;
}

html, body, #__next, .wrapper{
  min-height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
  body {
    font-family: 'ubuntu', Verdana, sans-serif;
  }
}

