@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
// For checkbox
input:checked + svg {
  display: block;
}
