apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fluent-bit-custom.configmapName" . }}
  namespace: kube-system
  labels:
    {{- include "fluent-bit-custom.labels" . | nindent 4 }}
  annotations:
    reloader.stakater.com/match: "true"
data:
  fluent-bit.conf: |
    [SERVICE]
    #    Log_Level           debug
        Parsers_File        parsers.conf
    [INPUT]
        Name                tail
        Tag                 kube.*
        Exclude_Path        /var/log/containers/cloudwatch-agent*, /var/log/containers/fluent-bit*, /var/log/containers/aws-node*, /var/log/containers/kube-proxy*
        Path                /var/log/containers/*.log
        Docker_Mode         On
        Docker_Mode_Flush   5
        Docker_Mode_Parser  container_firstline
        Parser              docker
        DB                  /var/fluent-bit/state/flb_kube.db
        Mem_Buf_Limit       10MB
        Skip_Long_Lines     Off
        Refresh_Interval    10
    [FILTER]
        Name                parser
        Match               kube.*
        Key_Name            log
        Parser              mettel_logs
    # [FILTER]
    #     Name                kubernetes
    #     Match               kube.*
    #     Kube_URL            https://kubernetes.default.svc:443
    #     Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    #     Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
    #     Kube_Tag_Prefix     kube.var.log.containers.
    #     Merge_Log           On
    #     Merge_Log_Key       k8s
    #     Merge_Log_Trim      On
    #     K8S-Logging.Parser  On
    #     K8S-Logging.exclude True
    #     Keep_Log            Off
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.bruin-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     bruin-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.customer-cache*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     customer-cache
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.digi-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     digi-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.digi-reboot-report*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     digi-reboot-report
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.dri-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     dri-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.email-tagger-kre-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     email-tagger-kre-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.email-tagger-monitor*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     email-tagger-monitor
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.fraud-monitor*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     fraud-monitor
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.hawkeye-affecting-monitor*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     hawkeye-affecting-monitor  
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.hawkeye-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     hawkeye-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.hawkeye-customer-cache*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     hawkeye-customer-cache
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.hawkeye-outage-monitor*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     hawkeye-outage-monitor
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.intermapper-outage-monitor*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     intermapper-outage-monitor
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.last-contact-report*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     last-contact-report
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.links-metrics-api*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     links-metrics-api
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.links-metrics-collector*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     links-metrics-collector
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.lumin-billing-report*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     lumin-billing-report
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.notifier*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     notifier
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.notifications-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     notifications-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.repair-tickets-kre-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     repair-tickets-kre-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.repair-tickets-monitor*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     repair-tickets-monitor
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.sam-mettel-velocloud-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     sam-mettel-velocloud-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.sam-metvco02-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     sam-metvco02-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.sam-metvco03-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     sam-metvco03-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.sam-metvco04-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     sam-metvco04-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.som-mettel-velocloud-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     som-mettel-velocloud-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.som-metvco02-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     som-metvco02-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.som-metvco03-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     som-metvco03-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.som-metvco04-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     som-metvco04-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.service-outage-monitor-triage*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     service-outage-monitor-triage
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.servicenow-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     servicenow-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.t7-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     t7-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.tnba-feedback*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     tnba-feedback
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.tnba-mettel-velocloud-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     tnba-mettel-velocloud-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.tnba-metvco02-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     tnba-metvco02-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.tnba-metvco03-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     tnba-metvco03-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.tnba-metvco04-mettel-net*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     tnba-metvco04-mettel-net
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.velocloud-bridge*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     velocloud-bridge
        auto_create_group   true
    [OUTPUT]
        Name                cloudwatch
        Match               kube.var.log.containers.gateway-monitor*
        region              {{ .Values.config.region }}
        log_group_name      {{ .Values.config.logGroupName }}
        log_stream_name     gateway-monitor
        auto_create_group   true


  parsers.conf: |
    [PARSER]
        Name   mettel_logs
        Format regex
        Regex  ^(?<time_stamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}): (?<environment>.*?): (?<hostname>.*?): (?<module>.*?)::(?<line>\d+) (?<log_level>[A-Z]+): (?<message>.*)$
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z
    [PARSER]
        Name   mettel_parser_logs
        Format regex
        Regex  ^(?<time_stamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}): (?<environment>.*?): (?<hostname>.*?): (?<module>.*?)::(?<line>\d+) (?<log_level>[A-Z]+): (?<message>[a-zA-Z0-9 _.,:()'"!ยก]*)$
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z
    [PARSER]
        Name   mettel_parser_logs_rta
        Format regex
        Regex  ^(?<time_stamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}): (?<environment>.*?): (?<hostname>.*?): (?<module>.*?)::(?<line>\d+) (?<log_level>[A-Z]+): (?<message>[a-zA-Z0-9 _.,:()'"!ยก]*)$
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z
        Decode_Field json log
    [PARSER]
        Name   mettel_parser_json
        Format regex
        Regex  ^(?<time_stamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}): (?<environment>.*?): (?<hostname>.*?): (?<module>.*?)::(?<line>\d+) (?<log_level>[A-Z]+): (?<message>[^{]*)(?<message_additional>{.*)$
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z
        # Command      |  Decoder          | Field              | Optional Action
        # =============|===================|====================|=================
        Decode_Field_As   escaped_utf8       message_additional    do_next
        Decode_Field_As   escaped            message_additional    do_next
        Decode_Field_As   json               message_additional
    [PARSER]
        Name        container_firstline
        Format      regex
        Regex       (?<log>(?<="log":")\S(?!\.).*?)(?<!\\)".*(?<stream>(?<="stream":").*?)".*(?<time>\d{4}-\d{1,2}-\d{1,2}T\d{2}:\d{2}:\d{2}\.\w*).*(?=})
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S.%LZ
    [PARSER]
        Name        docker
        Format      json
        Time_Key    @timestamp
        Time_Format %Y-%m-%dT%H:%M:%S.%L
        Time_Keep   Off
    [PARSER]
        Name        syslog
        Format      regex
        Regex       ^\<(?<pri>[0-9]+)\>(?<time>[^ ]* {1,2}[^ ]* [^ ]*) (?<host>[^ ]*) (?<ident>[a-zA-Z0-9_\/\.\-]*)(?:\[(?<pid>[0-9]+)\])?(?:[^\:]*\:)? *(?<message>.*)$
        Time_Key    time
        Time_Format %b %d %H:%M:%S
    [PARSER]
        Name        json
        Format      json
        Time_Key    time
        Time_Format %d/%b/%Y:%H:%M:%S %z

