ENVIRONMENT_NAME=
NATS_SERVER1=
REDIS_HOSTNAME=
REDIS_TNBA_FEEDBACK_HOSTNAME=
CURRENT_ENVIRONMENT=
PAPERTRAIL_ACTIVE=
PAPERTRAIL_HOST=
PAPERTRAIL_PORT=
TIMEZONE=
FEEDBACK_JOB_INTERVAL=
MONITORED_VELOCLOUD_HOSTS=
MONITORED_PRODUCT_CATEGORY=
GRACE_PERIOD_BEFORE_RESENDING_TICKETS=