ENVIRONMENT_NAME=
NATS_SERVER1=
REDIS_HOSTNAME=
PAPERTRAIL_ACTIVE=
PAPERTRAIL_HOST=
PAPERTRAIL_PORT=
SLACK_WEBHOOK=
EMAIL_ACCOUNT_FOR_MESSAGE_DELIVERY_USERNAME=
EMAIL_ACCOUNT_FOR_MESSAGE_DELIVERY_PASSWORD=
MONITORABLE_EMAIL_ACCOUNTS=