ENVIRONMENT_NAME=
NATS_SERVER1=
REDIS_HOSTNAME=
REDIS_EMAIL_TAGGER_HOSTNAME=
CURRENT_ENVIRONMENT=
TIMEZONE=
API_REQUEST_KEY=
API_REQUEST_SIGNATURE_SECRET_KEY=
API_SERVER_ENDPOINT_PREFIX=
NEW_EMAILS_JOB_INTERVAL=
NEW_TICKETS_JOB_INTERVAL=
MAX_CONCURRENT_EMAILS=
MAX_CONCURRENT_TICKETS=
PAPERTRAIL_ACTIVE=
PAPERTRAIL_HOST=
PAPERTRAIL_PORT=
