apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "forticloud-cache.fullname" . }}
  labels:
    {{- include "forticloud-cache.labels" . | nindent 4 }}
  annotations:
    reloader.stakater.com/search: "true"
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "forticloud-cache.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "forticloud-cache.labels" . | nindent 8 }}
      annotations:
        fluentbit.io/parser: mettel_parser_logs
    spec:
      priorityClassName: medium-priority
      initContainers:
        {{- if .Values.config.capabilities_enabled.notifications_bridge }}
        - name: wait-notifications-bridge
          image: busybox:1.28
          command: [ 'sh', '-c', 'until wget --spider -S http://notifications-bridge:5000/_health; do echo waiting for notifications-bridge; sleep 2; done' ]
        {{- end }}
        - name: wait-redis-forticloud-cache
          image: busybox:1.28
          command: [ 'sh', '-c', 'until printf "PING\r\n" | nc ${REDIS_FORTICLOUD_CACHE_HOSTNAME} 6379; do echo waiting for redis; sleep 2; done' ]
          envFrom:
            - configMapRef:
                name: {{ include "forticloud-cache.configmapName" . }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default "automation-master-latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "forticloud-cache.configmapName" . }}
            - secretRef:
                name: {{ include "forticloud-cache.secretName" . }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            {{- if .Values.config.metrics.enabled }}
            - name: {{ .Values.config.metrics.svc.name }}
              containerPort: {{ .Values.config.metrics.svc.port }}
              protocol: TCP
            {{- end }}
          livenessProbe:
            httpGet:
              path: /_health
              port: {{ .Values.service.port }}
            initialDelaySeconds: 15
          readinessProbe:
            httpGet:
              path: /_health
              port: {{ .Values.service.port }}
            initialDelaySeconds: 15
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if eq .Values.global.mode "local" }}
      imagePullSecrets:
        - name: {{ .Values.global.ecr_registry.name }}
      {{- end }}
