ENVIRONMENT_NAME=
NATS_SERVER1=
REDIS_HOSTNAME=
CURRENT_ENVIRONMENT=
PAPERTRAIL_ACTIVE=
PAPERTRAIL_HOST=
PAPERTRAIL_PORT=
TIMEZONE=
MONITORING_JOB_INTERVAL=
MONITORED_VELOCLOUD_HOSTS=
MONITORED_PRODUCT_CATEGORY=
BLACKLISTED_EDGES=
GRACE_PERIOD_BEFORE_APPENDING_NEW_TNBA_NOTES=
GRACE_PERIOD_BEFORE_MONITORING_TICKETS_BASED_ON_LAST_DOCUMENTED_OUTAGE=
MIN_REQUIRED_CONFIDENCE_FOR_REQUEST_AND_REPAIR_COMPLETED_PREDICTIONS=