ENVIRONMENT_NAME=
PAPERTRAIL_ACTIVE=
PAPERTRAIL_HOST=
PAPERTRAIL_PORT=
MONGODB_USERNAME=admin
MONGODB_PASSWORD=admin
MONGODB_HOST=mongo
MONGODB_DATABASE=bruin
INTERVAL_TASKS_RUN=1
BRUIN_CLIENT_ID=
BRUIN_CLIENT_SECRET=
